<html lang="en">
<head>
	<meta charset="utf-8">
	<title>example</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="CenterMe">
		<p>zhihaopy 组员1 2 <h1>Responsive CSS Tabs</h1>组员3 4 5 </P>
	</div>
	<h1>小组主题</h1>
	<p>简介 </P>
		<div class="tab_container">
			<input id="tab1" type="radio" name="tabs" checked>
			<input id="tab2" type="radio" name="tabs">
			<input id="tab3" type="radio" name="tabs">
			<input id="tab4" type="radio" name="tabs">
			<input id="tab5" type="radio" name="tabs">
      <div class="tab_label_flex_container">
			<label for="tab1" id="tab1"><i class="fa fa-code"></i><span>Code</span></label>
			<label for="tab2" id="tab2"><i class="fa fa-pencil-square-o"></i><span>About</span></label>
			<label for="tab3" id="tab3"><i class="fa fa-bar-chart-o"></i><span>Services</span></label>
			<label for="tab4" id="tab4"><i class="fa fa-folder-open-o"></i><span>Portfolio</span></label>
			<label for="tab5"><i class="fa fa-envelope-o"></i><span>Contact</span></label>
      </div>
			<section id="content1" class="tab-content">
				<h3>Headline 1</h3>
				<div class='embed-container'><iframe src="https://public.tableau.com/views/6_186/1_1?:embed=y&:display_count=yesDashboard1?:showVizHome=no&:embed=true" frameborder='0' allowfullscreen></iframe></div> 

		      	<p>上传你的仪表盘在publ.tableau，<a href="http://kb.tableau.com/articles/howto/embedding-tableau-public-views-in-iframes?lang=zh-cn">点这里有教怎么放</a></p>

			</section>

			<section id="content2" class="tab-content">
				<h3>Headline 2</h3>
		      	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		      	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		      	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</section>

			<section id="content3" class="tab-content">
				<h3>Headline 3</h3>
		      	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		      	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		      	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</section>

			<section id="content4" class="tab-content">
				<h3>Headline 4</h3>
		      	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		      	tempor incididunt ut labore et dolore magna aliqua.</p>
			</section>

			<section id="content5" class="tab-content">
				<h3>Headline 5</h3>

			</section>
		</div>

<p class="no_wrap">
  And Of-course this paragrapgh with not wrap Tab
</p>

<p class="link">
  Just in case you want to go through the tutorial follow this link: <a href="https://public.tableau.com/views/6_186/1_1?:embed=y&:display_count=yesDashboard1?:showVizHome=no&:embed=true">Responsive Pure CSS Tabs</a>
</p>
</body>
</html>